<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:fragment="header">
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
	integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
	crossorigin="anonymous">

<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<title>Hello, world!</title>
</head>
<body>

	<!-- 	navbar -->
	<div th:fragment="navbar">
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" th:href="@{/admin/center}">Home</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarSupportedContent"
				aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link"
						th:href="@{/admin/product}">Product <span class="sr-only">(current)</span></a>
					</li>
					<li class="nav-item"><a class="nav-link"
						th:href="@{/admin/type}">Type</a></li>
				</ul>
				<ul class="navbar-nav mr-auto">
					<li>[[${#request.userPrincipal.principal.username}]]</li>
					<li><a th:href="@{/logout}">Logout</a></li>
				</ul>
			</div>
		</nav>
	</div>
	<!-- 	end navbar -->




	<!-- 	paginte -->
	<nav th:fragment="paginate" aria-label="Page navigation example">
		<ul class="pagination justify-content-center">
			<div th:each="i : ${#numbers.sequence(1,paginate.totalPage,1)}">
				<li class="page-item"><a class="page-link"
					th:href="@{/admin/product?page=}+${i}"
					th:unless="${i == paginate.currentPage}">[[${i}]]</a></li>
				<li class="page-item active"><a class="page-link"
					th:href="@{/admin/product?page=}+${i}"
					th:if="${i == paginate.currentPage}">[[${i}]]</a></li>
			</div>
		</ul>
	</nav>
	<!-- 		endpaginate -->


	<div th:fragment="scripts">
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
			integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
			crossorigin="anonymous"></script>
		<script
			src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
			integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
			crossorigin="anonymous"></script>
	</div>
</body>
</html>